.filter{
  position: relative;
  @media (max-width: 790px) {
    max-width: 100%;
  }
  .search_input{
    min-width: 150px;
  }
  button.btn-icon{
    position: absolute;
    top: 50%;
    right: 30px;
    background: transparent;
    transform: translateY(-50%);
    border: 0;
  }
}
.actions {
  span.grid_label {
    &.active {
      color: #007bff !important;
    }
  }

  span.list_label {
    &.active {
      color: #dc3545 !important;
    }
  }
}
.inputs_wrapper{
  position: relative;

  button.btn-save{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

}
.container-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  @media (max-width: 425px) {
    justify-content: center;

  }
  .card {
    padding: 0 10px;
    background-color: #efeded;
    .img_wrapper {
      width: 150px;
      min-height: 250px;
      margin: 0 auto;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


  }


}

.list-group-item {
  .img_wrapper {
    width: 100px;
    height: 150px;
    @media (max-width: 790px) {
      margin-bottom: 1rem;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  h5.card-title{
  }
  @media (max-width: 790px) {
    display: flex !important;
    flex-direction: column!important;
    align-items: center !important;
    justify-content: center!important;
  }
}


