<div>
  <tabset>
    <div class="form-group filter col-3 mt-3 d-flex">
      <input type="text" class="form-control search_input" id="exampleInputEmail1" aria-describedby="search..."
             placeholder="Search..." [(ngModel)]="searchTerm" name="searchTerm">

      <button class="btn-icon" *ngIf="searchTerm" (click)="onClearSearch()">
        <i class="fas fa-times"></i>
      </button>
      <button class="btn btn-primary" (click)="getDataFromServer()">
        <i class="fas fa-redo"></i>
      </button>

      <button class="btn btn-primary ml-2" (click)="onSortData()" [ngStyle]="{'background-color': isShowSorDirection ? '#dc3545': '#007bff'}">
        <i class="fas" [ngClass]="{'fa-sort-alpha-down-alt': isShowSorDirection,'fa-sort-alpha-up': !isShowSorDirection}" ></i>
      </button>

    </div>

    <div class="spinner_wrapper d-flex w-100 justify-content-center align-items-center" style="height: 80vh"
         *ngIf="isRefresh">
      <div class="spinner-border text-primary d-flex" role="status"></div>

    </div>

    <tab  id="{{'tab'+ i}}" *ngFor="let tab of dataGroupedByType;let i=index"  class="tabs">
      <ng-template tabHeading >
        <span *ngIf="!isShowInput"  (dblclick)="onChangeType(i)">{{tab.type +'('+tab.data.length+ ')'}}</span>
        <div class="inputs_wrapper" [ngSwitch]="i" *ngIf="isShowInput">
          <input type="text" *ngSwitchCase="0" [(ngModel)]="dataGroupedByType[0].type" name="{{dataGroupedByType[0].type}}" (input)="onInputTab1(dataGroupedByType[0].type,i)">
          <input type="text" *ngSwitchCase="1"
                 [(ngModel)]="dataGroupedByType[1].type"
                 name="{{dataGroupedByType[1].type}}"
                 (input)="onInputTab2(dataGroupedByType[1].type,i)">
          <input type="text" *ngSwitchCase="2"
                 [(ngModel)]="dataGroupedByType[2].type"
                 name="{{dataGroupedByType[1].type}}"
                 (input)="onInputTab3(dataGroupedByType[2].type,i)">
          <button class="btn btn-save" *ngIf="isShowInput">
            <i class="fas fa-save" (click)="onSaveTitle(i)"></i>
          </button>

        </div>

      </ng-template>

      <div *ngIf="!isRefresh">
        <div class="actions w-100 d-flex justify-content-center align-items-baseline">
          <span class="grid_label mr-3" [class.active]="isShowPrimary">Show grid</span>
          <button #toggleBtn class="btn  mb-5 mt-3"
                  [ngClass]="{'btn-primary': isShowPrimary,'btn-danger': !isShowPrimary}" (click)="onToggleView()">
            <i class="fas " [ngClass]="{'fa-toggle-off': isShowPrimary,'fa-toggle-on': !isShowPrimary}"></i>

          </button>
          <span class="list_label ml-3" [class.active]="!isShowPrimary"> Show list</span>
        </div>
        <div *ngIf="tab.data.length> 0">
          <div class="container-fluid grid" *ngIf="isShowGrid;else showList">
            <div class="card" *ngFor="let item of tab.data |search: searchTerm | sort: sortType;let i=index ">
              <div class="img_wrapper p-3" >
                <a routerLink="/{{item.imdbID}}" [state]="{data: item}">
                  <img class="card-img-top" [src]="item.Poster" [alt]="imgAlt">
                </a>
              </div>
              <div class="card-body p-0">
                <h5 class="card-title text-center">{{item.Title}}</h5>
                <p class="card-text">Year: {{item.Year | timestamp}}</p>
                <p class="card-text">IMDB: {{item.imdbID}}</p>
<!--                <a routerLink="/{{item.imdbID}}" [state]="{data: item}" class="btn btn-primary">Show details</a>-->
              </div>
            </div>
          </div>
        </div>
        <ng-template #showList>
          <div class="container-fluid list">
            <ul class="list-group">
              <li class="list-group-item d-flex align-items-center justify-content-around"
                  *ngFor="let item of tab.data">
                <div class="img_wrapper">
                  <img class="card-img-top" [src]="item.Poster ? item.Poster: onError()" [alt]="imgAlt"
                       *ngIf="item.Poster">
                </div>
                <h5 class="card-title">{{item.Title}}</h5>
                <p class="card-text">Year: {{item.Year |timestamp}}</p>
                <p class="card-text">IMDB: {{item.imdbID}}</p>
                <a routerLink="/{{item.imdbID}}" [state]="{data: item}" class="btn btn-primary">Show details</a>
              </li>

            </ul>
          </div>
        </ng-template>
      </div>

    </tab>
  </tabset>
</div>
